#disqus_thread
- if current_page.data.comments
  - if current_page.data.community
    :javascript
      var disqus_shortname = 'bloggitlabhqcom';
      //var disqus_developer = 1;
      var disqus_identifier = 'http://blog.gitlabhq.com/{{ page.url | remove_date_from_path }}/';
      var disqus_url = 'http://blog.gitlabhq.com/{{ page.url | remove_date_from_path }}/';
  - else
    :javascript
      var disqus_shortname = 'gitlab'; // required: replace example with your forum shortname
      //var disqus_developer = 1;
      var disqus_identifier = '#{data.site.url}#{current_page.url}';
      var disqus_url = '#{data.site.url}#{current_page.url}';
- else
  :javascript
    var disqus_script = 'count.js';
:javascript
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
   })();
